---
import 'jsoneditor/dist/jsoneditor.min.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import ParserApp from '../components/preact/ParserApp.jsx';
import SiteFooter from '../components/SiteFooter.astro';
import '../styles/global.css';
import '../styles/parser.css';
import '../styles/scratchblocks.css';
import '../styles/jsoneditor-overrides.css';

const mathJaxSrc = '/vendor/mathjax/MathJax.js?config=TeX-AMS_CHTML';
---
<BaseLayout title="ClassWiz QR">
    <script defer is:inline src={mathJaxSrc}></script>
    <ParserApp client:load/>
    <div id="app-footer">
        <SiteFooter/>
    </div>
</BaseLayout>
