<form id="qr-form">
    <select id="lang" name="lang" aria-label="Language">
        <option value="zh">zh</option>
        <option value="en" selected>en</option>
    </select>
    <input id="qrUrl" type="search" aria-label="QR URL" placeholder="http://......"/>
</form>
